name: Java Main Workflow

on:
  pull_request:
    branches: [ master, rc-** ]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ ubuntu-latest, macOS-latest ]
        java-version: [ 8, 9, 11, 17 ]

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java-version }}
          distribution: 'adopt'
      - name: Run unit tests
        run: mvn clean test
      - name: Build with Maven
        run: mvn install '-Dgpg.skip=true' '-Dmaven.javadoc.skip=true'
